---
import Layout from '../layouts/Layout.astro'
import Divider from '../components/ui/Divider.astro'
import moment from 'moment'
const allPosts = await Astro.glob('./posts/*.md')
const sortedPostList = allPosts.sort((a, b) =>
  a.frontmatter.pubDate < b.frontmatter.pubDate ? 1 : -1
)
const postList: any[][] = []
let index = 0
sortedPostList.forEach((item) => {
  if (!postList[index]) {
    postList.push([item])
  } else {
    const lastPost = postList[index][0]
    const lastPostYear = new Date(lastPost.frontmatter.pubDate).getFullYear()
    const nowPostYear = new Date(item.frontmatter.pubDate).getFullYear()
    if (nowPostYear === lastPostYear) {
      postList[index].push(item)
    } else {
      index++
      postList[index] = [item]
    }
  }
})
const pageTitle = '0h_x0 的 blog'
---

<Layout title={pageTitle}>
  <h1 class='text-4xl my-6'>Blog</h1>
  <ul class='flex flex-col w-full md:w-1/2'>
    {
      postList.map((postGroup, groupIndex) => {
        return (
          <>
            <li
              class={`relative flex-col gap-4 animate-fade-up animate-ease-out animate-delay-[${250 * index}ms]`}
            >
              <div class='text-xl my-4 font-bold py-1 px-4 h-fit w-full sm:w-1/4 border-l-2 border-gray-500 bg-[#282828] text-white font-mono sm:rounded-r-md'>
                {new Date(postGroup[0].frontmatter.pubDate).getUTCFullYear()}
              </div>
              <ul class='flex flex-col flex-1 gap-4'>
                {postGroup.map((post, index) => (
                  <>
                    <li class='flex px-4 relative items-center gap-[10%]'>
                      <div class='flex flex-col flex-1 h-full justify-between'>
                        <a class='flex items-end gap-4' href={post.url}>
                          <div class='leading-7 text-lg'>
                            {post.frontmatter.title}
                          </div>
                          <span class='text-sm text-gray-400'>
                            {moment(post.frontmatter.pubDate).format('MM-DD')}
                          </span>
                        </a>
                      </div>
                    </li>
                  </>
                ))}
              </ul>
            </li>
            <Divider classList='my-4' />
          </>
        )
      })
    }
  </ul>
</Layout>
