<div class='flex w-full justify-between p-6 relative z-10'>
  <div>logo</div>
  <div class='text-md text-gray-500 gap-4 flex'>
    <a class='' href='/'>主页</a>
    <a class='' href='/blog/'>博客</a>
    <a class='' href='/blog/'>旅行日记</a>
    <a class='' href='/blog/'>照片墙</a>
  </div>
</div>
